name: PR

env:
  # The name of the main module repository
  main_project_module: app

  # The name of the Play Store
  playstore_name: Neurhome

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - reopened

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}

      - name: Set Up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Set Up Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Assemble APK
        run: |
              ./gradlew :app:assembleDevDebug
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: neurhome-dev-debug
          path: app/build/outputs/apk/dev/debug/app-dev-debug.apk
  automerge:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write
      contents: write

    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          github-token: ${{ secrets.DEPENDABOT_TOKEN }}
